.slideUp {
  @include transition(all, 0.5s, linear);
  &.ng-enter {
   -webkit-transform: translate3d(0,-100%, 0);
  }
  &.ng-enter-active {
    -webkit-transform: translate3d(0,0, 0);
  }
  &.ng-leave {
  -webkit-transform: translate3d(0,0, 0);
  }
  &.ng-leave-active {
  -webkit-transform: translate3d(0,-100%, 0);
  }
}
.ng-enter {
  z-index:8888;
  }
  .ng-leave {
    z-index: 9950;
  }