.change {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}

.ng-enter {
  @extend .change;
  -webkit-transform: translate3d(-100%,0, 0);
  opacity:0;
  &.ng-enter-active {
    -webkit-transform: translate3d(0,0, 0);
    opacity:1;
  }
}

.ng-leave {
  @extend .change;
  -webkit-transform: translate3d(0,0, 0);
  opacity:1;
  &.ng-leave-active {
    -webkit-transform: translate3d(-100%,0, 0);
    opacity:0;
  }
}

.ng-move {
  @extend .change;
}