html {
  font-size: 62.5%;
  background: transparent;
}

body {
  background-color:$body-bg;
  @include font-face($copy);
  color: $white;
  font-size:16px;
  @include clearfix;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @include font-face($lato);
  font-weight:700;
  margin: 0 auto;
}