$white: rgba(255,255,255,.9);
$oj:#d25135;
$blue: #078dcb;
$flatblue: #3bbdbf;
$peach: #e77351;
$mustard: #ebc75d;
$teal:#4dcdc3;
$sam: #ff6b6b;
$darksam: #c54d57;
$bluegrey:#556171;
$melon: #c7f363;
$black: #151218;
$sun: #ECC16C;