.icon {
  background-image: $icon-sprite;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor:pointer;
  width:64px;
  height:72px;
&.angular{ background-position: 0 0;  }
&.bower{ background-position: 0 -118px;  }
&.css{ background-position: 0 -232px;  }
&.digital-ocean{ background-position: 0 -334px;  }
&.grunt{ background-position: 0 -439px;  }
&.html{ background-position: 0 -549px;  }
&.js{ background-position: 0 -671px;  }
&.node{ background-position: 0 -807px;  }
&.ruby{ background-position: 0 -919px;  }
&.wordpress{ background-position: 0 -1034px;  }
&.yeoman{ background-position: 0 -1147px;  }
}