.icon {
  background-image: $icon-sprite;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor:pointer;
  width:64px;
  height:72px;
&.angular{ background-position: 0 -90px;  }
&.bower{ background-position: 0 -206px;  }
&.css{ background-position: 0 -323px;  }
&.digital-ocean{ background-position: 0 -423px;  }
&.grunt{ background-position: 0 -521px;  }
&.html{ background-position: 0 -640px;  }
&.js{ background-position: 0 -639px;  }
&.node{ background-position: 0 -899px;  }
&.ruby{ background-position: 0 -1015px;  }
&.wordpress{ background-position: 0 -1122px;  }
&.yeoman{ background-position: 0 -1237px;  }
&.mysql { background-position: 0 -1324px; }
}