#main-menu {
  width:98%;
  @include center-block;
  position:relative;
  background-color: $nav-bg;
  @include breakpoint(medium) {
    float:left;
  }
  ul {
    list-style:none;
    width:100%;
    padding:0;
    text-align:left;
    @include breakpoint(medium) {
      padding: 0 0 1.5rem;
    }
    li {
      display:inline-block;
      width:30%;
      @include breakpoint(medium) {
        @include center-block;
      }
      a {
      color: #414951;
      @include font-face($lato);
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 300;
      vertical-align:middle;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      -ms-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s;
      &:hover {
        color: $white;
        text-decoration: none;
        }
      i  {
        margin: 0 1rem 0;
        font-size: 1.75rem;
        float:left;
      }
      }
      &.list-head {
        &#contact {
        & >  a {
          }
        }
        &#skills {
          & > a {
          }
        }
        & > a {
          display:block;
          color:$white;
          margin: 1rem auto 0;
          font-size:1.5rem;
          font-weight:700;
          &:hover {
            color: $melon;
          }
          i {
          }
        }
      }
    }
  }
}