#main-menu {
  ul {
    list-style:none;
    margin: 2.5rem auto 0;
    width:65%;
    padding: 0;
    &.dropdown {
      width:100%;
      margin:.25rem 0 0 3rem;
      padding: 0;
      font-size:1rem;
    }
    li {
      margin:0 auto;
      a {
      color: #414951;
      @include font-face($lato);
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 300;
      vertical-align:middle;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      -ms-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s;
      &:hover {
        color: $white;
        text-decoration: none;
        }
      i  {
        margin-right:1rem;
        font-size: 1.75rem;
      }
      }
      &.list-head {
        &#contact {
        & >  a {
            color: $melon;
          }
        }
        &#skills {
          & > a {
            color:$mustard;
          }
        }
        & > a {
          display:block;
          color:$oj;
          margin: 1rem auto 0;
          font-size:1.5rem;
          font-weight:700;
          i {
          }
        }
      }
    }
  }
}