@import 'normalize';
@import 'colors';

$sidebar-bg: $black;
$body-bg: $bluegrey;
$copy: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$pages:
(home   $blue  $peach),
(skills   $black $bluegrey),
(work $peach #222222),
(contact #ffffff #000000);

@import 'mixins';
@import 'animations';
@import 'base';
@import 'navigation';
@import 'sidebar';
@import 'typography';

.skill {
  & > i {
    font-size:4rem;
  }
}

.icon {
  @include icon;
  &.jquery {
    background: url(../img/icons/jquery.png) no-repeat;
    background-size:contain;
  }
}

#skills {
  ul {
    list-style:none;
    padding:0;
    li {
      display:inline-block;
      text-align: center;
      width:33%;
      small {
        display:block;
      }
      img {
        display:block;
        margin: 0 auto;
        max-width:100%;
      }
    }
  }
}

.page {
  width:75%;
  position:absolute;
  margin:0 auto;
  top:0;
  bottom:0;
  right:0;
  padding-top: 15rem;
  transition: all .5s;
  background-color: $melon;
  h1 {
    text-align: center;
  }
  @each $page in $pages {
    $division: nth($page, 1);
    $division-bg-color: nth($page, 2);
    $division-title-color: nth($page, 3);

    &.#{$division} {
      color: #{$division-title-color};
    }
  }
}