@import 'normalize';
@import 'colors';

$icon-sprite: url(../img/icons/icon-sprite.png);
$sidebar-bg: $black;
$header-bg: $black;
$body-bg: $black;
$page-text: $bluegrey;
$copy: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$pages:
(home   $blue  $peach),
(skills   $black $bluegrey),
(work $peach #222222),
(contact #ffffff #000000);

@import 'mixins';
@import 'animations';
@import 'base';
@import 'header';
@import 'navigation';
@import 'sidebar';
@import 'typography';
@import 'forms';

.skill {
  & > i {
    font-size:4rem;
  }
}

  .skill-buttons {
  width:250px;
  margin: 1rem auto .5rem;
  button {
    -webkit-appearance: none;
    color:$melon;
    border: 1px solid $bluegrey;
    background-color: $black;
    border-radius: 4px;
  }
  }

  ul.skill-list {
    list-style:none;
    padding:0;
    li {
      display:inline-block;
      text-align: center;
      width:25%;
      max-height:72px;
      margin-bottom:20px;
      small {
        display:block;
      }
      img {
        display:block;
        margin: 0 auto;
        max-width:100%;
      }
    }
  }

.page {
  width:100%;
  float:left;
  margin:0 auto;
  min-height:400px;
  position:relative;
  color: $page-text;
  padding-top:20px;
  padding-bottom:20px;
  h1 {
    text-align: center;
  }
}

.icon {
  background-image: $icon-sprite;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  width:64px;
  height:72px;
&.angular{ background-position: 0 0;  }
&.bower{ background-position: 0 -118px;  }
&.css{ background-position: 0 -232px;  }
&.digital-ocean{ background-position: 0 -354px;  }
&.grunt{ background-position: 0 -439px;  }
&.html{ background-position: 0 -549px;  }
&.js{ background-position: 0 -671px;  }
&.node{ background-position: 0 -807px;  }
&.ruby{ background-position: 0 -929px;  }
&.wordpress{ background-position: 0 -1034px;  }
&.yeoman{ background-position: 0 -1147px;  }
}