article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slideUp {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.slideUp.ng-enter {
  -webkit-transform: translate3d(0, -100%, 0);
}
.slideUp.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
.slideUp.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
}
.slideUp.ng-leave-active {
  -webkit-transform: translate3d(0, -100%, 0);
}

.ng-enter {
  z-index: 8888;
}

.ng-leave {
  z-index: 9950;
}

html {
  font-size: 62.5%;
  background: transparent;
}

body {
  background-color: #151218;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-size: 2rem;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  position: relative;
  background-color: #ECC16C;
  zoom: 1;
  overflow: hidden;
  min-height: 1024px;
}
.wrapper:before, .wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media (min-width: 50rem) {
  .wrapper {
    height: 768px;
  }
}

.header {
  background: #e77351;
  width: 45%;
  height: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  z-index: 9980;
  padding-right: 10px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
@media (min-width: 50rem) {
  .header {
    width: 25%;
    height: 100%;
    max-height: 100%;
    border-right: 10px solid #d25135;
    position: absolute;
  }
}
.header.collapsed {
  -webkit-transform: translateX(-90%);
  -moz-transform: translateX(-90%);
  -ms-transform: translateX(-90%);
  -o-transform: translateX(-90%);
  transform: translateX(-90%);
}
.header.collapsed .toggle > i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 50rem) {
  .header.collapsed {
    max-height: 100%;
  }
}

.toggle {
  display: block;
  position: absolute;
  width: 24px;
  top: 50%;
  right: 0px;
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
  z-index: 9980;
}
.toggle:hover {
  cursor: pointer;
}

#profile {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  padding-top: 30px;
}
#profile > a.self-pic {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
@media (min-width: 50rem) {
  #profile > a.self-pic {
    display: block;
    margin-top: 60px;
    margin-bottom: 25px;
  }
}

#social-media {
  list-style: none;
  width: 100%;
  margin: 2.5rem auto 0;
  padding: 0;
  display: block;
}
#social-media li {
  display: block;
  font-size: 2.5rem;
  margin: 0 auto;
  width: 25%;
}
#social-media li > a {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#social-media li > a:hover {
  -webkit-transform: rotateZ(80deg);
}

#main-menu {
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #e77351;
}
@media (min-width: 50rem) {
  #main-menu {
    float: left;
  }
}
#main-menu ul {
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: left;
}
@media (min-width: 50rem) {
  #main-menu ul {
    padding: 0 0 1.5rem;
  }
}
#main-menu ul li {
  display: inline-block;
  width: 100%;
}
@media (min-width: 50rem) {
  #main-menu ul li {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
#main-menu ul li a {
  color: #414951;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 300;
  vertical-align: middle;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
#main-menu ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
#main-menu ul li a i {
  margin: 0 -1.7rem 0 1rem;
  font-size: 1.75rem;
  float: left;
}
#main-menu ul li.list-head > a {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  margin: 1rem auto 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#main-menu ul li.list-head > a:hover {
  color: #c7f363;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: .75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
}

.form-container {
  width: 50%;
  padding-left: 20px;
}

input[name="message"] {
  height: 140px;
  vertical-align: top;
}

.skill {
  font-size: 12px;
  font-size: 1.5rem;
}
.skill > i {
  font-size: 4rem;
}

.skill-buttons {
  width: 530px;
  margin: 1rem auto .5rem;
}
.skill-buttons button {
  -webkit-appearance: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: #e77351;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-size: 1.75rem;
}

ul.skill-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
ul.skill-list.front-end {
  width: 25%;
  float: left;
}
ul.skill-list.front-end > li {
  width: 100%;
}
ul.skill-list.back-end {
  width: 25%;
  float: left;
}
ul.skill-list.back-end > li {
  width: 100%;
}
ul.skill-list.package-manager {
  width: 25%;
  float: left;
}
ul.skill-list.package-manager > li {
  width: 100%;
}
ul.skill-list.deployment {
  width: 25%;
  float: left;
}
ul.skill-list.deployment > li {
  width: 100%;
}

li {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-bottom: 20px;
}
@media (min-width: 50rem) {
  li {
    width: 25%;
  }
}
li small {
  display: block;
  font-size: 11px;
  font-size: 1.375rem;
}
li img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.skillset {
  width: 65%;
  float: left;
  font-size: 12px;
  font-size: 1.5rem;
}
.skillset > h2.skill-category {
  text-transform: capitalize;
}

.icon {
  background-image: url(../img/icons/icon-sprite.png);
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  cursor: pointer;
  width: 64px;
  height: 72px;
}
.icon.angular {
  background-position: 0 -90px;
}
.icon.bower {
  background-position: 0 -206px;
}
.icon.css {
  background-position: 0 -323px;
}
.icon.digital-ocean {
  background-position: 0 -423px;
}
.icon.grunt {
  background-position: 0 -521px;
}
.icon.html {
  background-position: 0 -640px;
}
.icon.js {
  background-position: 0 -639px;
}
.icon.node {
  background-position: 0 -899px;
}
.icon.ruby {
  background-position: 0 -1015px;
}
.icon.wordpress {
  background-position: 0 -1122px;
}
.icon.yeoman {
  background-position: 0 -1237px;
}
.icon.mysql {
  background-position: 0 -1324px;
}

.page {
  width: 100%;
  color: #151218;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: absolute;
  margin: 2rem auto 0;
  opacity: 1;
  z-index: 8890;
  height: 100%;
  left: 25%;
}
@media (min-width: 50rem) {
  .page {
    width: 75%;
    right: 0;
    position: absolute;
  }
}
.page h1.title {
  color: #d25135;
  margin-left: 20px;
}

.job {
  width: 100%;
  margin-top: 1.5rem;
  float: left;
  color: #e77351;
}
@media (min-width: 50rem) {
  .job {
    width: 49%;
  }
}
.job p {
  font-size: 12px;
  font-size: 1.5rem;
}
.job a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  display: block;
  text-transform: capitalize;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.job a > h2 {
  text-align: center;
}
.job a.gatorworks {
  background-image: url(../img/icons/gatorworks.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
.job a.dezinsInteractive {
  background-image: url(../img/icons/dezinsinteractive.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
.job a:hover {
  color: #d25135;
}

/*# sourceMappingURL=app.css.map */
